* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form {
    width: 50%;
    min-width: 300px;
    height: 80%;
    min-height: 550px;
    border: 2px solid #000000;
    border-radius: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.form_item {
    width: auto;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.label {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.input {
    min-width: 280px;
    width: auto;
    height: auto;
    padding: 4px;
    outline: none;
    background: #ffffff;
    border: 2px solid #000000;
    border-radius: 10px;
    font-size: 1.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submit {
    background: #000000;
    color: #ffffff;
    cursor: pointer;
    transition: ease all .3s;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.submit:hover {
    opacity: .8;
}

.pop_up {
    min-width: 280px;
    width: 50%;
    height: 200px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background: #ffffff;
    opacity: 0;
    transition: ease all .3s;
    z-index: -100;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.pop_up.active {
    transform: translate(-50%, 20%);
    opacity: 1;
    z-index: 400;
}

#msg {
    color: #000000;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn_back {
    width: 30%;
    min-width: 180px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    background: #000000;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1.1rem;
    transition: ease all .3s;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn_back:hover {
    opacity: .8;
}

.overlay {
    background: #000000;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -100;
    transition: ease all .3s;
}

.overlay.active {
    z-index: 300;
    opacity: .8;
}