/* dante pufahl */

/* =========== google fonts ============*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap");

/**============= variables =============*/

:root {
  /**============= colors ==========*/
  /* ============ Background ==========*/
  --main-background: hsl(215, 31%, 95%);
  --card-background: hsl(0, 0%, 99%);

  /* ============ text ==========*/
  --title-color: hsl(0, 0%, 15%);
  --sub-title-color: hsl(0, 0%, 25%);
  --grey-text: hsl(215, 10%, 25%);
  --text-color: hsl(0, 0%, 70%);
  --text-white: hsl(0, 25%, 97%);

  /* ============ neutral ==========*/
  --grey: hsl(215, 10%, 62%);
  --grey-hover: hsl(215, 10%, 50%);
  --grey-ultra-light: hsl(215, 10%, 85%);

  /**============ fonts ============*/

  /* ========== type font ==========*/
  --heebo: "heebo";

  /* ========= font weight =========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ========= typography ==========*/
  --fs-2: 2rem;
  --fs-1-5: 1.5rem;
  --fs-1-15: 1.15rem;
  --fs-1: 1rem;
  --fs-0-8: 0.8rem;

  /** ========= cards style =========*/
  --border-radius-cards: 0.75rem;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --box-shadow: 0px 4px 32px var(--shadow-color);

  /**========== Margenes ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /**========== extra ==========*/
  --transition: color 0.4s, background-color 0.4s ease-in-out;
}

/** ======+ media variables ====+==*/

/**============ base ============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--main-background);
  font-size: 14px;
  font-family: var(--heebo);
}

/**====== REUSABLE CSS CLASSES ======*/

a {
  text-decoration: none;
  cursor: pointer;
}

.card {
  background-color: var(--card-background);
  border-radius: var(--border-radius-cards);
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.card-nr {
  background-color: var(--card-background);
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

/**============ header ============*/

.hero {
  width: 100%;
  height: 7vh;
  background-color: var(--card-background);
  padding: 0 var(--mb-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.hero__logo {
  display: flex;
}

.hero__logo-1 {
  display: none;
}

.hero__logo-0 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hero__logo-img {
  display: inline;
  width: 35px;
  margin-right: 5px;
}

.title__hero {
  font-size: var(--fs-1-15);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: var(--title-color);
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__iteam {
  display: block;
}

.nav__link {
  color: var(--title-color);
  margin: 5px;
  font-weight: var(--font-semi-bold);
  padding: var(--mb-0-25) var(--mb-1);
  border-radius: var(--border-radius-cards);
  transition: var(--transition);
}

.nav__link:hover {
  background-color: var(--main-background);
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: var(--mb-0-25) var(--mb-0-5);
  transition: var(--transition);
  color: var(--title-color);
  border-radius: 100%;
}

.hamburger:hover {
  background-color: var(--main-background);
}

@media screen and (max-width: 1023px) {
  .hero {
    padding: 0 var(--mb-1);
  }
  .hero__logo-img {
    display: inline;
    width: 30px;
    margin-right: 5px;
  }

  .title__hero {
    font-size: var(--fs-1);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    color: var(--title-color);
  }

  .nav {
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 3;
    width: 30%;
    min-width: 200px;
    background-color: var(--card-background);
    transition: 0.8s;
    box-shadow: var(--box-shadow);
    min-height: 100vh;
    border-bottom-right-radius: var(--border-radius-cards);
  }

  .hero__logo-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: var(--mb-1);
    justify-content: space-between;
  }
  .nav__list {
    display: block;
    padding: 0 10px;
    margin: var(--mb-2) 0;
  }
  .nav__link {
    padding: var(--mb-1);
    display: block;
  }
  .nav__iteam {
    margin-bottom: var(--mb-1);
  }
  .hamburger {
    display: block;
  }
}

@media screen and (max-height: 760px) {
  .nav__link {
    padding: 0;
    margin: 0 var(--mb-1);
  }
  .nav__link:hover {
    background: none;
    color: var(--grey);
  }
  .hero {
    height: 10vh;
  }
  .section__add {
    min-height: 90vh;
  }
}

@media screen and (max-height: 400px) {
  .hero {
    height: 15vh;
  }
}

@media screen and (max-height: 760px) and (max-width: 1023px) {
  .nav__iteam {
    margin-bottom: var(--mb-2-5);
  }
}

/**============ table ============*/

.table__responsive {
  display: flex;
  margin: var(--mb-1) 0;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  background-color: var(--card-background);
  text-align: center;
  border-collapse: collapse;
  max-width: 80%;
  border: 1px solid var(--text-color);
}

.table__header {
  background-color: var(--grey-text);
  border: solid 1px var(--grey-text);
}

.table__header-item {
  padding: var(--mb-1);
  color: var(--text-white);
}

.table__cell {
  padding: var(--mb-1);
  border-left: 1px solid var(--text-color);
  color: var(--sub-title-color);
}

.table__cell-0 {
  border-left: none;
}

.tr:nth-child(even) {
  background-color: var(--grey-ultra-light);
  border-top: 1px solid var(--text-color);
}

.btn__table {
  color: var(--title-color);
  font-weight: var(--font-bold);
  padding: var(--mb-0-25) var(--mb-0-5);
}

.btn__table-blue {
  background-color: hsl(215, 100%, 85%);
}

.btn__table-yellow {
  background-color: hsl(51, 100%, 60%);
}

.btn__table-red {
  background-color: hsl(0, 100%, 70%);
}

.btn__table-blue:hover {
  background-color: hsl(215, 100%, 60%);
}

.btn__table-red:hover {
  background-color: hsl(0, 100%, 50%);
}

.btn__table-yellow:hover {
  background-color: hsl(51, 100%, 40%);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--mb-1) 0;
}

.pagination button {
  padding: var(--mb-0-75);
  box-shadow: var(--box-shadow);
  border: none;
  background-color: none;
  color: var(--text-white);
  font-size: var(--fs-1);
  font-family: var(--heebo);
  color: var(--title-color);
}

.pagination button.active {
  background-color: hsl(215, 100%, 50%);
  color: var(--text-white);
}

@media screen and (max-width: 1024px) {
  .table {
    max-width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .table__header-item {
    padding: var(--mb-0-5);
  }

  .table__cell {
    padding: var(--mb-0-5);
  }
  .table {
    max-width: 96%;
  }
}

@media screen and (max-width: 480px) {
  .table__responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  .table {
    max-width: 100%;
  }
}

/* pedidos section */

.title__pedidos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--mb-1);
}

.pedidos__title {
  color: var(--title-color);
  font-size: var(--fs-2);
  font-weight: var(--font-bold);
}

.action__div {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  align-items: center;
}

.add__div {
  width: 30%;
}

.add__btn {
  padding: var(--mb-0-5) var(--mb-1);
  font-size: var(--fs-1);
  border: none;
  background-color: hsl(215, 100%, 50%);
  color: var(--text-white);
  border-radius: 4px;
  cursor: pointer;
}

.add__btn__a{
  color: var(--text-white);
}
.add__btn:hover {
  background-color: hsl(215, 100%, 35%);
}

.search__container {
  text-align: center;
}

.search__input {
  padding: var(--mb-0-5) var(--mb-0-75);
  font-size: var(--fs-1);
  border: 1px solid var(--text-color);
  border-radius: 4px;
  width: 60%;
}

.search__button {
  padding: var(--mb-0-5) var(--mb-1);
  font-size: var(--fs-1);
  border: none;
  background-color: hsl(215, 100%, 50%);
  color: var(--text-white);
  border-radius: 4px;
  cursor: pointer;
  width: 30%;
}

.search__button:hover {
  background-color: hsl(215, 100%, 35%);
}

.search__results {
  text-align: center;
  margin-top: 20px;
}

.result__item {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 300px;
  display: inline-block;
}

@media screen and (max-width: 1024px) {
  .action__div {
    margin: 0 5%;
  }
}

@media screen and (max-width: 767px) {
  .action__div {
    margin: 0 2%;
  }
}

@media screen and (max-width: 424px) {
  .action__div {
    display: inline-block;
  }
  .add__div {
    width: auto;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .add__btn {
    margin: var(--mb-0-75);
  }
  .section__pedidos {
    display: grid;
    place-items: center;
  }
  .pedidos__title {
    font-size: var(--fs-2);
  }
}
