/* dante pufahl y espindola juan*/

/* =========== google fonts ============*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap");

/**============= variables =============*/

:root {
  /**============= colors ==========*/
  /* ============ Background ==========*/
  --main-background: hsl(215, 31%, 95%);
  --card-background: hsl(0, 0%, 99%);

  /* ============ text ==========*/
  --title-color: hsl(0, 0%, 15%);
  --sub-title-color: hsl(0, 0%, 25%);
  --grey-text: hsl(215, 10%, 25%);
  --text-color: hsl(0, 0%, 70%);
  --text-white: hsl(0, 25%, 97%);

  /* ============ neutral ==========*/
  --grey: hsl(215, 10%, 62%);
  --grey-hover: hsl(215, 10%, 50%);
  --grey-ultra-light: hsl(215, 10%, 85%);
  --btn-blue:hsl(215, 100%, 50%);
  --btn-blue-hover:hsl(215, 100%, 35%);

  /**============ fonts ============*/

  /* ========== type font ==========*/
  --heebo: "heebo";

  /* ========= font weight =========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /* ========= typography ==========*/
  --fs-2: 2rem;
  --fs-1-5: 1.5rem;
  --fs-1-15: 1.15rem;
  --fs-1: 1rem;
  --fs-0-8: 0.8rem;

  /** ========= cards style =========*/
  --border-radius-cards: 0.75rem;
  --shadow-color: rgba(0, 0, 0, 0.2);
  --box-shadow: 0px 4px 32px var(--shadow-color);

  /**========== Margenes ==========*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-25: 1.25rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /**========== extra ==========*/
  --transition: color 0.4s, background-color 0.4s ease-in-out;
  --border-radius-btn: 4px;
}

/** ======+ media variables ====+==*/

/**============ base ============*/

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--main-background);
  font-size: 14px;
  font-family: var(--heebo);
}
.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
/**====== REUSABLE CSS CLASSES ======*/

a {
  text-decoration: none;
  cursor: pointer;
}

.card {
  background-color: var(--card-background);
  border-radius: var(--border-radius-cards);
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.card-nr {
  background-color: var(--card-background);
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(--box-shadow);
}

.btn__blue{
  padding: var(--mb-0-5) var(--mb-1);
  font-size: var(--fs-1);
  border: none;
  background-color: var(--btn-blue);
  border-radius: var(--border-radius-btn);
  cursor: pointer;
  margin-bottom: 1rem;
  color: white;
}

.btn__blue:hover {
  background-color: var(--btn-blue-hover);
  color: white;
}

.btn__blue--text {
  color: var(--text-white);
}

/**====== Login ======  */

.section__container {
  display: flex;
  height: 100vh;
  min-height: 40rem;
  align-items: center;
  justify-content: center;
}

.card__container {
  width: 50%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--card-background);
  border-radius: 1rem;
  box-shadow: var(--box-shadow);
}

.image__content {
  width: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.image__img {
  width: 100%;
  border-radius: 1rem 0 0 1rem;
}

.form__content {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.form {
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0 3rem;
}

.form__title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  color: #000000;
}

.form__paragraph {
  font-weight: var(--font-regular);
}

.msg {
  color: #f00909;
  opacity: 0;
}

.msg.active {
  opacity: 1;
}

.form__link {
  font-weight: var(--font-regular);
  color: black;
}

.form__container {
  margin-top: 3rem;
  display: grid;
  grid-gap: 2.5rem;
}

.form__group {
  position: relative;
}

.form__input {
  width: 90%;
  background: none;
  color: #706c6c;
  font-size: 1rem;
  padding: 0.6rem 0.3rem;
  border: none;
  outline: none;
  border-bottom: 1px solid #706c6c;
  z-index: 100;
  position: relative;
}

.form__input:not(:placeholder-shown) {
  color: #000000;
}

input[type="password"] {
  font-weight: bold;
  /* Hace los puntos más gruesos */
}

.form__label {
  color: #706c6c;
  position: absolute;
  bottom: 25%;
  left: 5%;
  transition: transform 0.5s, color 0.3s;
}

.form__input:focus+.form__label {
  transform: translateY(-175%);
}

.form__label.fixed {
  transform: translateY(-175%);
}

.form__submit {
  background-color: hsl(0, 0%, 25%);
  color: var(--text-white);
  font-weight: 300;
  font-size: 1rem;
  padding: 0.5rem 0;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.form__submit:hover {
  background-color: hsl(0, 1%, 37%);

}

/**============ header ============*/

.hero {
  width: 100%;
  height: 7vh;
  background-color: var(--card-background);
  padding: 0 var(--mb-2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
}

.hero__logo {
  display: flex;
}

.hero__logo-1 {
  display: none;
}

.hero__logo-0 {
  align-items: center;
  display: flex;
  justify-content: center;
}

.hero__logo-img {
  display: inline;
  width: 35px;
  margin-right: 5px;
}

.title__hero {
  font-size: var(--fs-1-15);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  color: var(--title-color);
}

.nav__list {
  display: flex;
  list-style: none;
}

.nav__iteam {
  display: block;
}

.nav__link {
  color: var(--title-color);
  margin: 5px;
  font-weight: var(--font-semi-bold);
  padding: var(--mb-0-25) var(--mb-1);
  border-radius: var(--border-radius-cards);
  transition: var(--transition);
}

.nav__link:hover {
  background-color: var(--main-background);
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: var(--mb-0-25) var(--mb-0-5);
  transition: var(--transition);
  color: var(--title-color);
  border-radius: 100%;
}

.hamburger:hover {
  background-color: var(--main-background);
}

/**============ table ============*/

.table__responsive {
  display: flex;
  margin: var(--mb-1) 0;
  align-items: center;
  justify-content: center;
}

.table {
  width: 100%;
  background-color: var(--card-background);
  text-align: center;
  border-collapse: collapse;
  max-width: 80%;
  border: 1px solid var(--text-color);
}

.table__header {
  background-color: var(--grey-text);
  border: solid 1px var(--grey-text);
}

.table__header-item {
  padding: var(--mb-1);
  color: var(--text-white);
}

.table__cell {
  padding: var(--mb-1);
  border-left: 1px solid var(--text-color);
  color: var(--sub-title-color);
}

.table__cell-0 {
  border-left: none;
}

.tr:nth-child(even) {
  background-color: var(--grey-ultra-light);
  border-top: 1px solid var(--text-color);
}

.btn__table {
  color: var(--title-color);
  font-weight: var(--font-bold);
  padding: var(--mb-0-25) var(--mb-0-5);
}

.btn__table-blue {
  background-color: hsl(215, 100%, 85%);
}

.btn__table-yellow {
  background-color: hsl(51, 100%, 60%);
}

.btn__table-red {
  background-color: hsl(0, 100%, 70%);
}

.btn__table-blue:hover {
  background-color: hsl(215, 100%, 60%);
}

.btn__table-red:hover {
  background-color: hsl(0, 100%, 50%);
}

.btn__table-yellow:hover {
  background-color: hsl(51, 100%, 40%);
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--mb-1) 0;
}

.pagination button {
  padding: var(--mb-0-75);
  box-shadow: var(--box-shadow);
  border: none;
  background-color: none;
  color: var(--text-white);
  font-size: var(--fs-1);
  font-family: var(--heebo);
  color: var(--title-color);
}

.pagination button.active {
  background-color: hsl(215, 100%, 50%);
  color: var(--text-white);
}
.content-select select::-ms-expand {
  display: none;
}

.content-select {
  max-width: 25%; 
  position: relative;
  margin: 0 auto;
}

.content-select select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 5px 8px; 
  height: 32px; 
  outline: 0;
  border: 0;
  border-radius: 6px; 
  background: #f0f0f0;
  color: #7b7b7b;
  font-size: 1em;
  font-family: 'Quicksand', sans-serif;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
  transition: all 0.25s ease;
}

.content-select select:hover {
  background: hsl(215, 100%, 85%);

}

.content-select i {
  position: absolute;
  right: 8px; 
  top: calc(50% - 7px); 
  width: 10px;
  height: 10px;
  display: block;
  border-left: 3px solid #7b7b7b; 
  border-bottom: 3px solid #7b7b7b; 
  transform: rotate(-45deg);
  transition: all 0.25s ease;
}

.content-select:hover i {
  margin-top: 2px; 
}
/** pedidos-inventario */

.title__section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: var(--mb-1);
}

.section__title {
  color: var(--title-color);
  font-size: var(--fs-2);
  font-weight: var(--font-bold);
}

.action__div {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
  align-items: center;
}

.add__div {
  width: 30%;
}

.search__container {
  text-align: center;
}

.search__input {
  padding: var(--mb-0-5) var(--mb-0-75);
  font-size: var(--fs-1);
  border: 1px solid var(--text-color);
  border-radius: var(--border-radius-btn);
  width: 60%;
}

/* Estilos para el menú desplegable de estado del pedido */
.status-dropdown {
  position: relative;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}

.status-select {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  color: var(--sub-title-color);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-align: center;
}

/* Estilos para las opciones del menú desplegable */
.status-select option {
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

/* Estilos para la etiqueta de estado "No entregado" */
.status-select option[value="no_entregado"] {
  background-color: rgba(255, 0, 0, 0.5);
  color: red;
}

/* Estilos para la etiqueta de estado "En proceso" */
.status-select option[value="en_proceso"] {
  background-color: rgba(255, 255, 0, 0.5);
  color: yellow;
}

/* Estilos para la etiqueta de estado "Devuelto" */
.status-select option[value="devuelto"] {
  background-color: rgba(0, 128, 0, 0.5);
  color: green;
}

/* formularios*/

/* Estilos para el contenido principal */
.form__section {
  padding: 25px;
  max-width: 600px;
  margin: 25px auto;
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilos para los conjuntos de campos */
.input__container {
  margin-bottom: 25px;
  border: 1px solid var(--text-color);
  border-radius: 8px;
  padding: 25px;
}

/* Estilos para la leyenda de los conjuntos de campos */
.input__container legend {
  font-weight: bold;
}

/* Estilos para las etiquetas de los campos */
.input__container label {
  display: block;
  margin-bottom: 5px;
}

/* Estilos para los campos de entrada (input, textarea, select) */
.input__container input,
.input__container textarea,
.input__container select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--text-color);
  border-radius: 4px;
  margin-bottom: 10px;
  box-sizing: border-box;
}


/* Estilos para el menú desplegable (select) */
.input__container select {
  appearance: none;
  padding-right: 30px;
  background-image: url("arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

/* Estilos para el área de texto (textarea) que permite redimensionar verticalmente */
.input__container textarea {
  resize: vertical;
}

/* Estilos para el mensaje de éxito */
.mensaje-exito {
  display: none; /* Inicialmente oculto */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999; /* Para que aparezca por encima de otros elementos */
}


/* Estilos para el scroll bar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Fondo transparente */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.3); /* Gris más oscuro y transparente */

}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.5); /* Cambio de color en hover */
}

/**=========== medias ============  */

/**====== Login ======  */

/* Media query para pantallas con ancho máximo de 767px */
@media screen and (max-width: 767px) {

  /* Cambiar la dirección de flexión a column */
  .card__container {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 80%;
    grid: flex;
  }

  /* Ajustar los estilos del contenedor de la imagen */
  .image__content {
    width: 100%;
    height: 50%;
    overflow: hidden;
  }

  /* Ocultar la imagen en pantallas pequeñas */
  .image__img {
    width: 0;
    border-radius: 10px 10px 0 0;
  }

  /* Ajustar los estilos del contenido del formulario */
  .form__content {
    width: 100%;
    height: 50%;
  }
}

/* Media query para pantallas con ancho máximo de 767px y altura máxima de 1075px */
@media screen and (max-height: 1075px) and (max-width: 767px) {

  /* Ajustar los estilos del formulario */
  .form {
    padding: 1rem 1.5rem 1.5rem;
  }
}

/* Media query para pantallas con ancho máximo de 767px y altura máxima de 850px */
/*es decir, los cambios realizados aqui se veran con pantallas con 766 x 849*/
@media screen and (max-height: 850px) and (max-width: 767px) {

  /* Ocultar el contenido de la imagen */
  .image__content {
    display: none;
  }

  /* Ajustar los estilos del formulario */
  .form {
    padding: 1rem 3rem;
  }

  /* Ajustar los estilos del contenido del formulario */
  .form__content {
    width: 100%;
    height: 100%;
  }

  /* Ajustar los estilos del contenedor de la tarjeta */
  .card__container {
    display: flex;
    flex-direction: none;
    justify-content: none;
    width: 80%;
    height: 80%;
    justify-content: space-around;
  }
}

/* Media query para pantallas con ancho mínimo de 767px y altura máxima de 850px */
/*es decir, los cambios realizados aqui se veran con pantallas con 767 x 849*/
@media screen and (max-height: 850px) and (min-width: 767px) {

  /* Ajustar los estilos del formulario */
  .form {
    padding: 0 1rem;
  }

  /* Ajustar los estilos del contenedor de la tarjeta */
  .card__container {
    width: 80%;
    height: 80%;
  }

}

@media screen and (min-height: 850px) and (max-width: 1120px) {
  .card__container {
    width: 80%;
    height: 80%;
  }
}

/* Media query para pantallas con ancho máximo de 767px y altura máxima de 1275px */
@media screen and (max-height: 1275px) and (max-width: 767px) {

  /* Ajustar los estilos del contenido de la imagen */
  .image__content {
    display: none;
  }

  /* Ajustar los estilos del contenido del formulario */
  .form__content {
    width: 100%;
    height: 100%;

  }
}

/* Media query para pantallas con ancho máximo de 378px */
@media screen and (max-width: 378px) {

  /* Ajustar los estilos del formulario */
  .form {
    padding: 0 1rem;
  }

  /* Ajustar los estilos del contenedor de la tarjeta */
  .card__container {
    width: 80%;
    height: 80%;
  }
}

/* Media query para pantallas con altura máxima de 500px */
@media screen and (max-height: 500px) {

  /* Ajustar los estilos del contenedor del formulario */
  .form__container {
    margin-top: 0.8rem;
    display: grid;
    grid-gap: 1.5rem;
  }

  /* Ajustar los estilos del contenedor de la tarjeta */
  .card__container {
    width: 80%;
    height: 90%;
  }
}

/* Media query para pantallas con altura máxima de 350px */
@media screen and (max-height: 350px) {

  /* Ajustar los estilos del contenedor del formulario */
  .form__container {
    margin-top: 0.5rem;
    display: grid;
    grid-gap: 1.2rem;
  }

  /* Ajustar los estilos del contenedor de la tarjeta */
  .card__container {
    width: 80%;
    height: 95%;
  }
}

/**============ header ============*/


@media screen and (max-width: 1023px) {
  .hero {
    padding: 0 var(--mb-1);
  }

  .hero__logo-img {
    display: inline;
    width: 30px;
    margin-right: 5px;
  }

  .title__hero {
    font-size: var(--fs-1);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    color: var(--title-color);
  }

  .nav {
    position: absolute;
    left: -100%;
    top: 0;
    z-index: 3;
    width: 30%;
    min-width: 200px;
    background-color: var(--card-background);
    transition: 0.8s;
    box-shadow: var(--box-shadow);
    min-height: 100vh;
    border-bottom-right-radius: var(--border-radius-cards);
  }

  .hero__logo-1 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: var(--mb-1);
    justify-content: space-between;
  }

  .nav__list {
    display: block;
    padding: 0 10px;
    margin: var(--mb-2) 0;
  }

  .nav__link {
    padding: var(--mb-1);
    display: block;
  }

  .nav__iteam {
    margin-bottom: var(--mb-1);
  }

  .hamburger {
    display: block;
  }
}

@media screen and (max-height: 760px) {
  .nav__link {
    padding: 0;
    margin: 0 var(--mb-1);
  }

  .nav__link:hover {
    background: none;
    color: var(--grey);
  }

  .hero {
    height: 10vh;
  }

  .section__add {
    min-height: 90vh;
  }
}

@media screen and (max-height: 400px) {
  .hero {
    height: 15vh;
  }
}

@media screen and (max-height: 760px) and (max-width: 1023px) {
  .nav__iteam {
    margin-bottom: var(--mb-2-5);
  }
}

/**============ table ============*/

@media screen and (max-width: 1024px) {
  .table {
    max-width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .table__header-item {
    padding: var(--mb-0-5);
  }

  .table__cell {
    padding: var(--mb-0-5);
  }

  .table {
    max-width: 96%;
  }
}

@media screen and (max-width: 480px) {
  .table__responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .table {
    max-width: 100%;
  }
}

/** pedidos-inventario */

@media screen and (max-width: 1024px) {
  .action__div {
    margin: 0 5%;
  }
}

@media screen and (max-width: 767px) {
  .action__div {
    margin: 0 2%;
  }
}

@media screen and (max-width: 424px) {
  .action__div {
    display: inline-block;
  }


  .add__div {
    width: auto;
    align-items: center;
    margin: auto;
    text-align: center;
  }

  .add__btn {
    margin: var(--mb-0-75);
  }

  .section__pedidos {
    display: grid;
    place-items: center;
  }

  .pedidos__title {
    font-size: var(--fs-2);
  }
}